
  .listItem {
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 2px;
    padding: 10px 20px;
    background: whitesmoke;
    margin-bottom: 10px;
    display: flex;
    user-select: none;

    .items {
      flex-direction: column;
      align-items: center;
      max-width: 500px;
      overflow-x: auto;
      display: flex;
      gap: 15px;
    }

    .item {
      white-space: nowrap;
      color: green;
    }
  }

