
  .listItem {
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    padding: 10px 20px;
    background: whitesmoke;
    margin-bottom: 10px;
    display: flex;
    user-select: none;

    .checkboxWrapper {
      display: flex;
      align-items: flex-end;
    }

    .label, .checkbox {
      cursor: pointer;
    }

    .items {
      flex-direction: column;
      align-items: flex-end;
      max-width: 500px;
      overflow-x: auto;
      display: flex;
      gap: 15px;
    }

    .item {
      white-space: nowrap;
      color: green;
    }
  }

