.countryList {
  /*padding: 15px;*/


  .listItem {
    cursor: pointer;
    border-radius: 2px;
    padding: 20px;
    background: whitesmoke;
    margin-bottom: 10px;
    display: flex;
    user-select: none;

    &:hover {
      background: floralwhite;
    }

    //&:active {
    // background-color: grey;
    //}

    .country {
      font-weight: bold;
      min-width: 300px;
    }

    .currencies {
      display: flex;
      gap: 15px;
    }

    .symbol {
      margin-left: 2px;
      color: green;
      //font-size: 10px;
    }
  }
}
